<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN'
      crossorigin='anonymous'
    />
    <title>{{ title }}</title>
</head>
<body>
    <H2>{{ message}}</H2>
    <form action="" method="post" id="form">
        <table>
            <tr>
                <td><label for="nama">Nama</label></td>
                <td><input type="text" name="nama" id="nama"></td>
            </tr>
            <tr>
                <td><label for="deskripsi">Deskripsi</label></td>
                <td><input type="text" name="deskripsi" id="deskripsi"></td>
            </tr>
            <tr>
                <td><label for="isPublik">Publik</label></td>
                <td><input type="checkbox" name="isPublik" id="isPublik"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" name="submit" class="btn btn-success">Send</button></td>
            </tr>
        </table>
    </form>
</body>
</html>